.text-container{
  border: 2px solid rgb(146, 146, 146);
  width: 520px;
  height: 480px;
  position: relative;
  top: 2px;
  border-radius: 8px;
  
}
#Code-slave{
  display: none;
  padding: 20px;
  width: 27vw;
  height: 55vh;
  resize: none;
  position: relative;
  top: -450px;
  right: 0px;
  
}
.box2 ::-webkit-scrollbar{
  
}
.box2{
  
}
textarea{
  border-radius: 8px;
  outline: none;
  border: none;
  color: green;
}

#arduinoCode{
  padding: 20px;
  width: 27vw;
  height: 55vh;
  resize: none;
}

h1{
  background-color: beige;
  margin: none;
}
a{
  cursor: pointer;
}
  
header{
  height: 10vh;
  border-bottom:4px solid cadetblue ;
}
  
header h2{
  color: cadetblue;
  display: inline-block;
}
  
body{
  height: 100vh;
  width: 100vw;
  margin: 0;  
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dddddd;
}
#ifimg{
  /* width: auto; */
  scale: 120%;
}
#textBox{
  position: relative;
  top: 10px;
  font-size: 20px;
  /* background-color: red; */
  width: 40%;
  height: 100vh;
  padding: 20px;
}

.startStop h2{
  position: fixed;
  bottom: 18px;
  height:26px;
  margin: 5px 42px;
  right: 1300px;
  background-color: #2ea361;
  color: #fff;
  /* text-transform: uppercase; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px 30px;
  border-radius: 6px;
  cursor: pointer;
}

.startStop2 h2{
  position: fixed;
  bottom: 18px;
  height:26px;
  margin: 5px 42px;
  right: 2130px;
  background-color: #009C4E;
  color: #fff;
  padding: 5px 30px;
  border-radius: 6px;
  cursor: pointer; 
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
  border-radius: 5px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

